<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <p>Today is <%=kindOfDay%> </p>

    <ul>
        <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li>
        
        <!-- //for loop -->
        <% for( let index = 0; index < newListItem.length; index++ ) { %>
            <li><%= newListItem[index] %> </li>
        <% } %>

    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem" >
        <button type="submit">Add</button>
    </form>
</body>
</html>